body{
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
    background-color: #FAFAFA;
}
.navbar{
    padding: 2vh 5vw ;
}
header{
    background-image: url('images/image-hero-desktop.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
}
main{
    width: 40vw;
    margin: auto;
    position: relative;
    top: -100px;
    background-color: white;
}
section{
    padding: 3% 5%;
    width: 100%;
    position: relative;
    text-align: center;
    border: 1px solid lightgray;
}
.masterCraftImg{
    transform: translateY(-80%);
}
.between{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
section h3{
    font-weight: 700;
}
.cyan{
    background-color: hsl(176, 72%, 28%);
    color: white;
    width: 40%;
    border-radius: 30px;
    padding: 2% 4%;
    font-size: 14px;
}
section p{
    color: gray;
}
.bookmark{
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    font-weight: 700;
    color: hsl(0, 0%, 48%);
    width: 100%;
    height: 55px;
}
.cyan:hover{
    color: white !important;
}
.bookmarkDiv{
    position: relative;
    width: 40%;
}
.bookmarkDiv img{
    position: absolute;
    left: -30px;
}
.flex{
    display: flex;
}
.barOutside{
    width: 100%;
    height: 10px;
    overflow: hidden;
    border-radius: 20px;
    margin-top: 5%;
    background-color: lightgray;
}
.bar{
    background-color: hsl(176, 50%, 47%);
    width: 70%;
    height: 100%;
    border-radius: 20px;
}
section:not(:first-of-type){
    margin-top: 5%;
}
.nums{
    width: 25%;
    text-align: start;
}
hr{
    width: 10%;
    color: black;
    transform: rotate(90deg);
}
.bold{
    font-size: 20px;
    display: block;
    font-weight: 800;
}
.gray{
    font-size: 14px;
    color: gray;
}
h6{
    font-weight: 800;
}
.about{
    text-align: start;
}
.about section{
    text-align: start;
}
.disabledBtn{
    background-color: lightgray;
}
.filter{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(238, 230, 230, 0.4);
}
.backdrop{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0,0.4);
}

.modal section{
    text-align: start;
}

input{
    -webkit-appearance: none;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: cyan;
}
.inputDiv{
    display: flex;
    align-items: center;
    width: 100% !important;
}
.inputDiv span{
    margin-left: 1%;
}
.modal section p{
    margin-left: 5%;
}
.modal section:hover span:not(.leftBold,.gray){
    color: cyan;
}
.modal section:hover input{
    border: 1px solid cyan;
}
input[type='radio']:before {
    content: '';
    display: block;
    width: 50%;
    height: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
  }
  input[type='radio']:checked:before {
    background: cyan;
  }
  input[type='radio']:checked{
    border: 1px solid cyan;
  }
i{
    margin-left: 2%;
    font-style: normal;
    color: cyan;
}
.modal section span{
    width: 70%;
}
.modal-content{
    padding: 5%;
}
.modal-dialog{
    max-width: 50vw;
}
.modalLeft{
    flex-grow: 1;
    text-align: end;
}
.leftBold{
    font-weight: 700;
}

@media screen and (max-width: 900px) {
   main{
       width: 95vw;
   }

   .bookmarkDiv img{
        left: -40px;
    }
    .modal-dialog{
        max-width: unset;
    }
}