body{
    margin: 0;
    padding: 0;
    font-family: 'Commissioner', sans-serif;
    background-color: #FAFAFA;
}
.navbar{
    padding: 2vh 5vw ;
}
header{
    background-image: url('images/image-hero-desktop.jpg');
    background-size: cover;
    background-position: center;
    height: 60vh;
}
main{
    width: 40vw;
    margin: auto;
    position: relative;
    top: -100px;
    background-color: white;
}
section{
    padding: 3% 5%;
    width: 100%;
    text-align: center;
}
.masterCraftImg{
    transform: translateY(-80%);
}
.betweeen{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
section h3{
    font-weight: 700;
}
.backBtn{
    background-color: hsl(176, 72%, 28%);
    color: white;
    border-radius: 30px;
    padding: 2% 4%;
    font-size: 14px;
}
section p{
    color: gray;
}
.bookmark{
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    font-weight: 700;
    color: hsl(0, 0%, 48%);
    width: 150px;
    height: 55px;
}
.backBtn:hover{
    color: white !important;
}
.bookmarkDiv{
    position: relative;
}
.bookmarkDiv img{
    position: absolute;
    left: -30px;
}
.flex{
    display: flex;
}
.barOutside{
    width: 100%;
    height: 10px;
    overflow: hidden;
    border-radius: 20px;
    background-color: lightgray;
}
.bar{
    background-color: hsl(176, 50%, 47%);
    width: 70%;
    height: 100%;
    border-radius: 20px;
}
section:not(:first-of-type){
    margin-top: 5%;
}
.nums{
    width: 25%;
    text-align: start;
}
hr{
    width: 10%;
    color: black;
    transform: rotate(90deg);
}